:root {
    --primary-color: #fcfbf8;
    --secondary-color: #1b1b17;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 50.5%;
}

body {
    background-color: var(--primary-color);
    font: 2rem 'Open Sans', sans-serif;
    color: #1b1b17;
}

.todo {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo__title {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-size: 3rem;
    color: var(--primary-color);
}

.todo__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todo__item{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background: #fcfcfc;
}
.todo__item > div {
    width: 80%;
}
.todo__item:hover {
    cursor: pointer;
}


.todo__item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo__item > input[type='checkbox'] {
    width: 15px;
    height: 15px;
    font: 10px;
    margin: 20px;
}
.todo__item > input[type='button']{
    width: 20px;
    height: 20px;
    font: 20px;
    margin: 20px;
}


.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todo__new-item{
    display: flex;
    background-color: #fcfcfc;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 10px;
    font: inherit;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.todo__new-item > input{
    background-color: #fcfcfc;
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
}